<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TRAINING
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

<div class="wrap">

  <ion-card class="info_box">
    <h1>{{myBeast.name}}</h1>
    <img src={{myBeast.imageURL}} alt="beast image">
  </ion-card>

  <ion-card class="info_box">

    <table width="100%">
      <tr>
      <td class="stat_name"><h4>Strength</h4></td>
      <td><h3>{{myBeast.strength}}</h3></td>
      <td><ion-button color="dark" (click)="trainStrength()">Train!</ion-button></td>
      </tr>
      <tr>
        <td class="stat_name"><h4>Speed</h4></td>
        <td><h3>{{myBeast.speed}}</h3></td>
        <td><ion-button color="dark" (click)="trainSpeed()">Train!</ion-button></td>
      </tr>
      <tr>
        <td class="stat_name"><h4>Endurance</h4></td>
        <td><h3>{{myBeast.endurance}}</h3></td>
        <ion-button color="dark" (click)="trainEndurance()">Train!</ion-button>
      </tr>
      <tr>
        <td class="stat_name"><h4>Bite</h4></td>
        <td><h3>{{myBeast.bite}}</h3></td>
        <ion-button color="dark" (click)="trainBite()">Train!</ion-button>
      </tr>
      <tr>
        <td class="stat_name"><h4>Claw</h4></td>
        <td><h3>{{myBeast.claw}}</h3></td>
        <ion-button color="dark" (click)="trainClaw()">Train!</ion-button>        
      </tr>
      <tr>
        <td class="stat_name"><h4>Grapple</h4></td>
        <td><h3>{{myBeast.grapple}}</h3></td>
        <ion-button color="dark" (click)="trainGrapple()">Train!</ion-button>
      </tr>

    </table>

  </ion-card>

</div>

<div class="wrap">
  <ion-card class="info_box">

    <h1>Training points: {{ myBeast.trainingPoints }}</h1>
  </ion-card>

  <ion-card class="info_box">

    <h1>Results Window</h1>
    <h4>{{ resultMessage }}</h4>

  </ion-card>
</div>

</ion-content>
